@charset "UTF-8";
button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-color: transparent;
}

/*****************************/
/* btn-1
/*****************************/
.burger-btn__1 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #f9d8ae;
}

.burger-btn__1__bars {
  position: relative;
}

.burger-btn__1__bar {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 2px;
  background-color: #f9d8ae;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-btn__1__bar:nth-of-type(1) {
  -webkit-transform: translate(-50%, -8px);
          transform: translate(-50%, -8px);
}

.burger-btn__1__bar:nth-of-type(3) {
  -webkit-transform: translate(-50%, 6px);
          transform: translate(-50%, 6px);
}

.burger-btn__1.burger-btn--active .burger-btn__1__bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translate(-50%, 0);
          transform: rotate(45deg) translate(-50%, 0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-btn__1.burger-btn--active .burger-btn__1__bar:nth-of-type(2) {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-btn__1.burger-btn--active .burger-btn__1__bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translate(-50%, 0);
          transform: rotate(-45deg) translate(-50%, 0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu {
  position: absolute;
  top: 0;
  right: -40%;
  height: 50rem;
  width: 40%;
  visibility: hidden;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2;
}

.nav-menu ul {
  padding-left: 2rem;
}

.nav-menu ul li {
  list-style: none;
}

.nav-menu.nav-menu--active {
  visibility: visible;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.8;
  right: 0;
}

/*****************************/
/* btn-2
/*****************************/
.burger-btn__2 {
  width: 48px;
  height: 48px;
}

.burger-btn__2__bars {
  position: relative;
}

.burger-btn__2__bar {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 2px;
  background-color: #f9d8ae;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-btn__2__bar:nth-of-type(1) {
  -webkit-transform: translate(-50%, -8px);
          transform: translate(-50%, -8px);
}

.burger-btn__2__bar:nth-of-type(3) {
  -webkit-transform: translate(-50%, 6px);
          transform: translate(-50%, 6px);
}

.burger-btn__2.burger-btn--active .burger-btn__2__bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translate(-50%, 0);
          transform: rotate(45deg) translate(-50%, 0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-btn__2.burger-btn--active .burger-btn__2__bar:nth-of-type(2) {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-btn__2.burger-btn--active .burger-btn__2__bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translate(-50%, 0);
          transform: rotate(-45deg) translate(-50%, 0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container__burger-btn {
  padding: 3rem;
  position: relative;
  background-color: #30373f;
  height: 100vh;
}

.container__form {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 4rem;
  background-color: #5f4332;
  color: #fff;
  border-radius: 3rem;
}

.container__slider {
  width: 80%;
  margin: 0 auto;
  height: 300px;
}

.mr-2 {
  margin-right: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-color: transparent;
}

.section__table {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/****************************************************************/
/* form--1
/****************************************************************/
.form__1__title {
  text-align: center;
  margin: 0;
  margin-bottom: 3rem;
}

.form__1__box {
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  grid-template: "..... error" "label form" / 40% 60%;
}

.form__1__box::first-child {
  margin-top: 0;
}

.form__1__box .form__1__label {
  grid-area: label;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__1__box .form__1__label::before {
  content: "必須";
  white-space: nowrap;
  color: #fff;
  margin-right: 1rem;
  font-size: 0.6rem;
  background-color: #d77358;
  border-radius: 3px;
  padding: 5px;
}

.form__1__box .form__1__label__name-frigana::before {
  content: "　　";
  background-color: transparent;
}

.form__1__box .form__1__text {
  grid-area: form;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.form__1__box .form__1__textarea {
  grid-area: form;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.form__1__box span {
  grid-area: error;
  font-size: 0.5rem;
  color: red;
  margin-bottom: 0.5rem;
}

.form__1__btn {
  background-color: #fff;
  border-radius: 100vh;
  width: 15rem;
  padding: 1rem;
  color: #d77358;
  display: block;
  margin: 0 auto;
}

.form__1__btn__outer {
  margin-top: 3rem;
  width: 100%;
}

/****************************************************************/
/* form--2
/****************************************************************/
.form__2__title {
  text-align: center;
  margin: 0;
  margin-bottom: 3rem;
}

.form__2__box {
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  grid-template: "..... error" "label form" / 40% 60%;
}

.form__2__box::first-child {
  margin-top: 0;
}

.form__2__box .form__2__label {
  grid-area: label;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__2__box .form__2__label::before {
  content: "必須";
  white-space: nowrap;
  color: #fff;
  margin-right: 1rem;
  font-size: 0.6rem;
  background-color: #d77358;
  border-radius: 3px;
  padding: 5px;
}

.form__2__box .form__2__label__name-frigana::before {
  content: "　　";
  background-color: transparent;
}

.form__2__box .form__2__text {
  grid-area: form;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.form__2__box .form__2__textarea {
  grid-area: form;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.form__2__box span {
  grid-area: error;
  font-size: 0.5rem;
  color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 0.5rem;
}

.form__2__btn {
  background-color: #fff;
  border-radius: 100vh;
  width: 15rem;
  padding: 1rem;
  color: #d77358;
  display: block;
  margin: 0 auto;
}

.form__2__btn__outer {
  margin-top: 3rem;
  width: 100%;
}

.kv__img-1 {
  background-color: red;
}

.kv__img-2 {
  background-color: blue;
}

.kv__img-3 {
  background-color: brown;
}

.section__smooth-scroll {
  width: 100%;
  height: 100vh;
}

.section__smooth-scroll:nth-of-type(1) {
  background-color: red;
}

.section__smooth-scroll:nth-of-type(2) {
  background-color: blueviolet;
}

.section__smooth-scroll:nth-of-type(3) {
  background-color: blue;
}

.section__smooth-scroll:nth-of-type(4) {
  background-color: yellow;
}

.section__smooth-scroll:nth-of-type(5) {
  background-color: yellowgreen;
}

.smooth-scroll__header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.smooth-scroll__header__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.smooth-scroll__header__inner ul {
  margin-right: 3rem;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.smooth-scroll__header__inner ul a {
  color: #575353;
  text-decoration: none;
}

.smooth-scroll__header__inner ul a:hover {
  color: black;
}

.top-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  background-color: #aa3d86;
  color: #fff;
  border-radius: 50%;
}

.top-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
}

.top-btn a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f102";
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-btn a:hover {
  opacity: 0.8;
}

.table__1 {
  width: 60%;
  margin: 2rem 0;
}

.table__1 table {
  width: 100%;
  border-collapse: collapse;
}

.table__1 table tr th,
.table__1 table tr td {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.table__1 table tr th {
  background-color: lightblue;
  font-weight: bold;
  color: #fff;
}

.table__2 {
  width: 60%;
  margin: 2rem 0;
}

.table__2 table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.table__2 table tr th,
.table__2 table tr td {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.table__2 table tr th {
  background-color: #3c3ce6;
  text-align: center;
  color: #fff;
  width: 20%;
}

.social-btn__1 {
  display: inline-block;
  color: #fff;
  margin-right: 2rem;
  text-decoration: none;
  position: relative;
}

.social-btn__1 i {
  font-size: 50px;
  color: brown;
}

.social-btn__2 {
  width: 40px;
  height: 40px;
  background-color: #803535;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  margin-right: 2rem;
}

.social-btn__3 {
  width: 40px;
  height: 40px;
  background-color: #803535;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.7rem;
}
/*# sourceMappingURL=style.css.map */